.outerlayer{
    margin: 0 auto;
    border: 2px black solid;
    width: 60%;
    height: 700px;
    border-radius: 15px;
    text-align: center;
}

.innerlayer{
    float: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 5px;
    
}

.displaySum{
    float: right;
    padding-top: 40px;
    font-size: 1.5em;
    font-weight: bold;
}

.playerImage{
    float: left;

}

h3{
    color: green;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

img{
    display: inline;
}
